body{
  background-image: url("img/madera.jpg");
}

h1{
  text-align: center;
  font-style: italic;
  color: black;
}

a{
  text-align: left;
  border-left: 5px solid black;
  font-size: 20px;
  color: black;
}

.manuscrito{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

.carta{
  float:left;;
  margin-left: 20px;
  margin-right: 20px;
}

.timo{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}
