body{
  background-color: #DEB5F4;
}

ul{
  font-size: 20px;
  color: black;
}


h1{
  text-align: center;
}

p{
  text-indent: 25px;
  font-size: 20px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.p1{
  text-align: center;
}

.p2{
  text-align: right;
}

.lengua{
  text-align: center;
}

.lengua2{
  text-align: center;
}

.direccion{
    text-align: center;
}
