body{
	background-image: url("../img/fondo_papel.jpg");
	/*background-repeat: repeat-y;*/
	width: 100%;
}

ul{
  font-size: 20px;
  color: black;
}


h1{
	text-align: center;
}

p{
	text-indent: 25px;
	font-size: 20px;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}

.mensaje{
	text-align: right;
}
.lengua{
	text-align: right;
}
