body{
  /*background-image: url("../img/weather.png");*/
  background-color: #8AA5E9;
}

ul{
  font-size: 20px;
  color: black;
}

h1{
  text-align: center;
}

p{
  text-indent: 25px;
  font-size: 20px;
  color: black;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

.lengua{
  text-align: right;
}

.barco{
  float: left;
}

.barco img{
  float: right;
  margin-left: 10px;
}
